name: CI

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'

    - name: Install
      run: yarn install

    - name: Lint
      run: yarn lint

    - name: Test
      run: yarn test --coverage
